@model Vidly.ViewModel.CustomerFormViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "New Customer";

    if(Model?.Customer != null && Model.Customer.Id != default(int))
    {
        title = "Edit Customer";
    }
}

<h2>@title</h2>

@using (Html.BeginForm("Save", "Customer", "POST"))
{
    @Html.HiddenFor(m => m.Customer.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday)
        @Html.TextBoxFor(m => m.Customer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="form-check">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IssubscribedToNewsLatter, new { @class = "form-check-input" }) Subscribe to Newslatter?
        </label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save</button>
}